<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe URL Submission</title>
    HELLO WORLD
</head>

<body>
    <h1>{{bruh_variable}} is the variable</h1>

    <form action="/recipe">
        <label for="recipe_url">Enter Recipe URL:</label>
        <input type="text" id="recipe_url" name="recipe_url" placeholder="Enter recipe URL..." />
        <button type="submit">Submit</button>
    </form>

</body>

</html>